################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/WebApp.Views.pdb
/WebApp/bin/Debug/netcoreapp3.1/WebApp.Views.dll
/WebApp/bin/Debug/netcoreapp3.1/WebApp.runtimeconfig.json
/WebApp/bin/Debug/netcoreapp3.1/WebApp.runtimeconfig.dev.json
/WebApp/bin/Debug/netcoreapp3.1/WebApp.pdb
/WebApp/bin/Debug/netcoreapp3.1/WebApp.exe
/WebApp/bin/Debug/netcoreapp3.1/WebApp.dll
/WebApp/bin/Debug/netcoreapp3.1/WebApp.deps.json
/WebApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/WebApp/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/WebApp/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/WebApp/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/WebApp/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/WebApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/WebApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/WebApp/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/WebApp/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/WebApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/WebApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/WebApp/bin/Debug/netcoreapp3.1/appsettings.json
/WebApp/bin/Debug/netcoreapp3.1/appsettings.Development.json
/WebApp/obj/WebApp.csproj.nuget.g.targets
/WebApp/obj/WebApp.csproj.nuget.g.props
/WebApp/obj/WebApp.csproj.nuget.dgspec.json
/WebApp/obj/WebApp.csproj.nuget.cache
/WebApp/obj/project.assets.json
/WebApp/obj/Debug/netcoreapp3.1/WebApp.Views.pdb
/WebApp/obj/Debug/netcoreapp3.1/WebApp.Views.dll
/WebApp/obj/Debug/netcoreapp3.1/WebApp.TagHelpers.output.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.TagHelpers.input.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.RazorTargetAssemblyInfo.cs
/WebApp/obj/Debug/netcoreapp3.1/WebApp.RazorTargetAssemblyInfo.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.RazorCoreGenerate.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.RazorComponent.input.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.RazorAssemblyInfo.cs
/WebApp/obj/Debug/netcoreapp3.1/WebApp.RazorAssemblyInfo.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.pdb
/WebApp/obj/Debug/netcoreapp3.1/WebApp.MvcApplicationPartsAssemblyInfo.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.exe
/WebApp/obj/Debug/netcoreapp3.1/WebApp.dll
/WebApp/obj/Debug/netcoreapp3.1/WebApp.csprojAssemblyReference.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.csproj.FileListAbsolute.txt
/WebApp/obj/Debug/netcoreapp3.1/WebApp.csproj.CopyComplete
/WebApp/obj/Debug/netcoreapp3.1/WebApp.assets.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.AssemblyInfoInputs.cache
/WebApp/obj/Debug/netcoreapp3.1/WebApp.AssemblyInfo.cs
/WebApp/obj/Debug/netcoreapp3.1/staticwebassets/WebApp.StaticWebAssets.xml
/WebApp/obj/Debug/netcoreapp3.1/staticwebassets/WebApp.StaticWebAssets.Manifest.cache
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/WebApp.pdb
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/WebApp.dll
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchData.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Counter.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/_Imports.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/Shared/NavMenu.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/Shared/MainLayout.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/Pages/_Host.cshtml.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/Pages/Index.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/Pages/FetchData.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/Pages/Error.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/Pages/Counter.razor.g.cs
/WebApp/obj/Debug/netcoreapp3.1/Razor/App.razor.g.cs
/WebApp/.vs/WebApp/v16/Server/sqlite3/storage.ide-wal
/WebApp/.vs/WebApp/v16/Server/sqlite3/storage.ide-shm
/WebApp/.vs/WebApp/v16/Server/sqlite3/storage.ide
/WebApp/.vs/WebApp/v16/Server/sqlite3/db.lock
/WebApp/.vs/WebApp/v16/.suo
/WebApp/.vs/WebApp/config/applicationhost.config
/.vs/BlazorWebApp/v16/.suo
/WebApp/appsettings.json
/WebApp/appsettings.Development.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
