################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1.Views.pdb
/bin/Debug/netcoreapp3.1.Views.dll
/bin/Debug/netcoreapp3.1.runtimeconfig.json
/bin/Debug/netcoreapp3.1.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1.pdb
/bin/Debug/netcoreapp3.1.exe
/bin/Debug/netcoreapp3.1.dll
/bin/Debug/netcoreapp3.1.deps.json
/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/bin/Debug/netcoreapp3.1/appsettings.json
/bin/Debug/netcoreapp3.1/appsettings.Development.json
/obj.csproj.nuget.g.targets
/obj.csproj.nuget.g.props
/obj.csproj.nuget.dgspec.json
/obj.csproj.nuget.cache
/obj/project.assets.json
/obj/Debug/netcoreapp3.1.Views.pdb
/obj/Debug/netcoreapp3.1.Views.dll
/obj/Debug/netcoreapp3.1.TagHelpers.output.cache
/obj/Debug/netcoreapp3.1.TagHelpers.input.cache
/obj/Debug/netcoreapp3.1.RazorTargetAssemblyInfo.cs
/obj/Debug/netcoreapp3.1.RazorTargetAssemblyInfo.cache
/obj/Debug/netcoreapp3.1.RazorCoreGenerate.cache
/obj/Debug/netcoreapp3.1.RazorComponent.input.cache
/obj/Debug/netcoreapp3.1.RazorAssemblyInfo.cs
/obj/Debug/netcoreapp3.1.RazorAssemblyInfo.cache
/obj/Debug/netcoreapp3.1.pdb
/obj/Debug/netcoreapp3.1.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/netcoreapp3.1.exe
/obj/Debug/netcoreapp3.1.dll
/obj/Debug/netcoreapp3.1.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1.csproj.CopyComplete
/obj/Debug/netcoreapp3.1.assets.cache
/obj/Debug/netcoreapp3.1.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/staticwebassets.StaticWebAssets.xml
/obj/Debug/netcoreapp3.1/staticwebassets.StaticWebAssets.Manifest.cache
/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
/obj/Debug/netcoreapp3.1/RazorDeclaration.pdb
/obj/Debug/netcoreapp3.1/RazorDeclaration.dll
/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchData.razor.g.cs
/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Counter.razor.g.cs
/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/_Imports.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/Shared/NavMenu.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/Shared/MainLayout.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/_Host.cshtml.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Index.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/FetchData.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Error.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/Pages/Counter.razor.g.cs
/obj/Debug/netcoreapp3.1/Razor/App.razor.g.cs
/.vs/v16/Server/sqlite3/storage.ide-wal
/.vs/v16/Server/sqlite3/storage.ide-shm
/.vs/v16/Server/sqlite3/storage.ide
/.vs/v16/Server/sqlite3/db.lock
/.vs/v16/.suo
/.vs/config/applicationhost.config
/.vs/BlazorWebApp/v16/.suo
/appsettings.json
/appsettings.Development.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/bin/Debug/netcoreapp3.1/WebApp.Views.pdb
/bin/Debug/netcoreapp3.1/WebApp.Views.dll
/bin/Debug/netcoreapp3.1/WebApp.runtimeconfig.json
/bin/Debug/netcoreapp3.1/WebApp.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/WebApp.pdb
/bin/Debug/netcoreapp3.1/WebApp.exe
/bin/Debug/netcoreapp3.1/WebApp.dll
/bin/Debug/netcoreapp3.1/WebApp.deps.json
/obj/Debug/netcoreapp3.1/WebApp.Views.pdb
/obj/Debug/netcoreapp3.1/WebApp.Views.dll
/obj/Debug/netcoreapp3.1/WebApp.TagHelpers.output.cache
/obj/Debug/netcoreapp3.1/WebApp.TagHelpers.input.cache
/obj/Debug/netcoreapp3.1/WebApp.RazorTargetAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/WebApp.RazorTargetAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/WebApp.RazorCoreGenerate.cache
/obj/Debug/netcoreapp3.1/WebApp.RazorComponent.input.cache
/obj/Debug/netcoreapp3.1/WebApp.RazorAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/WebApp.RazorAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/WebApp.pdb
/obj/Debug/netcoreapp3.1/WebApp.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/netcoreapp3.1/WebApp.exe
/obj/Debug/netcoreapp3.1/WebApp.dll
/obj/Debug/netcoreapp3.1/WebApp.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/WebApp.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/WebApp.csproj.CopyComplete
/obj/Debug/netcoreapp3.1/WebApp.assets.cache
/obj/Debug/netcoreapp3.1/WebApp.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/WebApp.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/staticwebassets/WebApp.StaticWebAssets.xml
/obj/Debug/netcoreapp3.1/staticwebassets/WebApp.StaticWebAssets.Manifest.cache
/obj/Debug/netcoreapp3.1/RazorDeclaration/WebApp.pdb
/obj/Debug/netcoreapp3.1/RazorDeclaration/WebApp.dll
/obj/Release/netcoreapp3.1/WebApp.RazorComponent.input.cache
/obj/Release/netcoreapp3.1/WebApp.RazorAssemblyInfo.cs
/obj/Release/netcoreapp3.1/WebApp.RazorAssemblyInfo.cache
/obj/Release/netcoreapp3.1/WebApp.assets.cache
/obj/Release/netcoreapp3.1/WebApp.AssemblyInfoInputs.cache
/obj/Release/netcoreapp3.1/WebApp.AssemblyInfo.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/Pages/FetchData.razor.g.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/Pages/Counter.razor.g.cs
/obj/Release/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
/obj/WebApp.csproj.nuget.g.targets
/obj/WebApp.csproj.nuget.g.props
/obj/WebApp.csproj.nuget.dgspec.json
/obj/WebApp.csproj.nuget.cache
/.vs/WebApp/v16/Server/sqlite3/db.lock
/.vs/WebApp/v16/Server/sqlite3/storage.ide-wal
/.vs/WebApp/v16/Server/sqlite3/storage.ide-shm
/.vs/WebApp/v16/Server/sqlite3/storage.ide
/.vs/WebApp/v16/.suo
/.vs/WebApp/DesignTimeBuild/.dtbcache
/.vs/WebApp/config/applicationhost.config
/.vs/WebApp/DesignTimeBuild/.dtbcache.v2
/bin/Debug/netcoreapp3.1/WebApp.xml
/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/obj/Debug/netcoreapp3.1/WebApp.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/WebApp.genruntimeconfig.cache
/obj/Debug/netcoreapp3.1/WebApp.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/WebApp.xml
/obj/project.nuget.cache
