################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/
/obj/
/obj.csproj.nuget.g.targets
/obj.csproj.nuget.g.props
/obj.csproj.nuget.dgspec.json
/obj.csproj.nuget.cache

/.vs/

/appsettings.json
/appsettings.Development.json
/obj
