@page "/corona"

@using WebApp.Data
@inject CoronaAPI CoronaAsService

<h1>Corona counter</h1>
@if(@currentCount == null)
{
<p><em>Loading stats...</em></p>
}
else
{
<p>Current cases: @currentCount.cases.ToString()</p>
<p>Current cases: @currentCount.deaths.ToString()</p>
<p>Current cases: @currentCount.recovered.ToString()</p>
}


@code {
    private GlobalCoronaStats currentCount;//

    protected override async Task OnInitializedAsync()
    {
        currentCount = await CoronaAsService.GetTodayStatsAsync();
    }
}
