@page "/"

    <h1>Blazor test web app</h1>

    <p>Just trying out new things with new blazor framework.</p>

    <iframe src="https://player.vimeo.com/video/412633133" width="640" height="359" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    <br />
