@page "/"

@using WebApp.Data
@inject TheCatAPI CatAsService

@if (cat == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Hiya</h1>

    <p> Welcome to your new app.</p>
    <br />
<img src=@cat.URL />
}
@code {
private TheCat cat;

protected override async Task OnInitializedAsync()
{
    cat = await CatAsService.GetRandomCatAsync();
}
}