@page "/test"
<h3>Test</h3>
@* <iframe src="https://www.vytas.co.uk/live.html" width="300px" height="400px"></iframe> *@
<h4>Please enter test case id :</h4>
<input type="number" name="tID" bind="@TxtInput" @oninput="@((ui)=>{@TxtInput=(string)ui.Value;})" /> &nbsp;
@if(@disabled)
{
<input type="button" value="OK" disabled />
}
else
{
    <input type="button" value="OK" name="btnOk"/>
}

@code {
    bool @disabled = true;
    private string _txtInput { get; set; }
    protected string TxtInput
    {
        get { return _txtInput; }
        set
        {
            _txtInput = value;
            disabled = string.IsNullOrEmpty(_txtInput);
        }

    }

}
