@page "/test"
<h3>Test</h3>
<div  data-widget-id=20507 data-widgetautoload=true data-lang="lit"></div>

    <input type="button" data-widgetpopup="true"  data-widget-id=20507 data-lang="eng" value="Click me">
@code {

}
